
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.error, .required, .errorMessage {
    color: red;
}

.form-grid {
    display: grid;
    grid-template-columns: auto 1fr; /* Labels take natural width, inputs take remaining space */
    gap: 10px;
}

.form-row {
    display: contents;
}
